{% extends 'reservation/base.html' %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p>Duration: {{ movie.duration }} minutes</p>

    <h2>Showtimes</h2>
    <ul class="list-group">
        {% for showtime in showtimes %}
            <li class="list-group-item">
                {{ showtime.show_time }}
                <a href="{% url 'reserve_seats' showtime.id %}" class="btn btn-success float-end">Reserve Seats</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
