body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Dark background for the app */
  color: #e0e0e0; /* Light text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic reset for consistent spacing */
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}